
	body {
		background-color: #000
	}
	* {
		/*font-family: courier, monospace;*/
		/*font-family: consolas;*/
		font-family:Monaco,Menlo,Consolas,"Courier New";
		color: #fff;
		width:800px;
		margin-left:auto;
		margin-right:auto;
		margin-top:20px;
		font-size:13px;
	}
	a {
		color: #0bc;
		text-decoration: none;
		border-bottom: 1px dotted #fff;
   		 text-decoration: none;
	}
	#a {
		color: #0f0;
	}
	#b {
		color: #ff0096;
	}
	#c {
		color: #0bc;
	}
	#link {
		color: #0bc;
	}
