/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


#header {
	text-align: center;
	margin-bottom: 50px;
	color: #fff;
}

pre {
	overflow-y:hidden;
	color: #fff;
}

footer {
	text-align: center;
	margin-top:150px;
}

#lock {
	color: #7a7a7a;
}

u {    
    border-bottom: 1px dotted #000;
    text-decoration: none;
}